@use "Index" as index;

//共通するのコードはここで書く

html {
  font-size: 62.5%;
  background: index.$base_clr;
  font-family: "Noto Sans JP", sans-serif;
}

@each $size in index.$sizes {
  .mtop-#{$size} {
    margin-top: $size;
  }
  .ptop#{$size} {
    padding-top: $size;
  }
  .font-#{$size} {
    font-size: $size;
  }
}

%text-shdw {
  text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

%box-shdw {
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.25);
}

%sakamachi {
  padding-top: 38rem;
  background-image: url(./img/ワイヤー/Sakamachi.svg);
  background-size: contain;
  background-position: center bottom;
  width: 24rem;
  height: 15.8859rem;
  position: relative;
  left: 1rem;
  margin: 0 auto;
}

%big-btn {
  width: 20.5rem;
  height: 5rem;
  border-radius: 1rem;
  background: index.$main_clr;
  text-align: center;
  z-index: 5;
  a,
  button {
    color: index.$sub_clr;
    height: inherit;
    width: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4.6rem;
    display: block;
  }
}

%btn {
  width: 60px;
  height: 60px;
  background: index.$sub_clr;
  border-radius: 10px;
}

%modal-border {
  border-bottom: 1px solid index.$white;
  width: 87%;
  margin: 0 auto;
  padding: 1rem;
}

%selected {
  background: index.$main_clr;
  color: index.$sub_clr;
}

%filters {
  ul {
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    li {
      width: auto;
      height: auto;
      font-size: 1.4rem;
      button {
        background: #28564b;
        border: solid 1px index.$field_brdr;
        border-radius: 1rem;
        padding: 2px 15px;
        width: 100%;
        height: 100%;
        display: block;
        color: index.$white;
        text-decoration: none;
      }
      .selected {
        background: index.$main_clr;
        color: index.$sub_clr;
      }
    }
  }
}

.back-btn {
  color: index.$main_clr;
  font-size: 2rem;
  position: absolute;
  top: 7rem;
  left: 3rem;
  text-decoration: none;
  text-align: center;
  &::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    font-size: 3rem;
    position: relative;
    top: 0.3rem;
    padding-right: 0.2rem;
  }
}

.register-field {
  width: 80%;
  h2 {
    font-size: 1.4rem;
    color: index.$white;
    padding: 0.6rem 0 0.8rem 0;
    font-weight: 400;
  }
  p {
    font-size: 1.2rem;
    color: index.$white;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  textarea {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    padding: 1.4rem 0 1.4rem 2rem;
    background: index.$field;
    border: solid 1px index.$field_brdr;
    color: index.$white;
    outline: none;
    resize: none;
    &::placeholder {
      color: index.$field_clr;
    }
  }
  input {
    width: 100%;
    // height: 4rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    padding: 1.4rem 0 1.4rem 2rem;
    background: index.$field;
    border: solid 1px index.$field_brdr;
    color: index.$white;
    outline: none;
    &::placeholder {
      color: index.$field_clr;
    }
    &#memo {
      border: solid 1px tomato;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  .register-num {
    display: flex;
    align-items: center;
    position: relative;
    input {
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
    p {
      color: index.$white;
      font-size: 1.6rem;
      padding: 1rem;
    }
    #age-field {
      width: 20%;
    }
  }
}

@mixin regist-form($h: 80%) {
  position: fixed;
  bottom: 0;
  padding-top: 2rem;
  padding-bottom: 6rem;
  background: index.$sub_clr;
  width: 100%;
  height: $h;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  gap: 1rem;
  overflow-x: scroll;
}
