@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap");

$base_clr: #242f30;
$main_clr: #fabc60;
$sub_clr: #2f6457;
$grey: #a5a5a5;
$white: #f5f5f7;
$black: #1d1d1f;
$field: #225144;
$field_clr: #629693;
$field_brdr: #408c71;
$map_btn: #0087d3;

$sizes: (1rem, 2rem, 3rem, 4rem, 5rem, 6rem, 7rem, 9rem, 10rem);
