@use "Asset" as asset;
@use "Index" as index;
body {
  position: relative;
}

.shuffle_box {
  // margin-top: 108px;
  height: 542px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .machine {
    position: absolute;
    left: 10px;
    top: 108px;
    right: 0;
    bottom: 0;
    width: 371px;
    height: 445px;
  }
  .move {
    position: absolute;

    left: 15px;
    width: 360px;
    height: 322px;
    display: none;

    &.active {
      display: block;
      animation: Move 0.25s 5;

      + .machine {
        animation: Move 0.25s 5;
      }
    }
  }
  .move02 {
    position: absolute;

    width: 320px;
    height: 323px;
    display: none;

    &.active {
      display: block;
      animation: Move 0.25s 5;

      + .machine {
        animation: Move 0.25s 5;
      }
    }
  }
}
.btn {
  margin: 60px 0 0 124px;
  width: 140px;
  height: 50px;
  border-radius: 10px;
  background-color: index.$main_clr;
  p {
    color: #fff;
    font-size: 2rem;
  }
}
.bgWrap {
  position: relative;
  width: 100%;
  height: 2px;
  .modal {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 390px;
    height: 1200px;
    overflow: hidden;
    top: -900px;
    z-index: 1000;
    display: none;
    animation: opa 2s ease;
    &.active {
      display: block;
    }
  }
  .random {
    z-index: 1000000;
    display: none;
    position: absolute;
    top: -560px;
    left: 30px;
    width: 332px;
    height: 764px;
    background-image: url("../img/miki/shuffle_random_01.png");
    background-size: contain;
    .randomHead {
      width: 332px;
      height: 53px;
      display: flex;
      justify-content: first baseline;
      .fa-solid.fa-xmark {
        color: #fff;
        margin: 0 42px 0 26px;
      }
      h2 {
        color: #fff;
        font-size: 2rem;
        line-height: 50px;
      }
    }
    .innerWrap {
      height: 540px;
      width: 332px;
      padding: 10px 25px 0 25px;
      .picture {
        width: 280px;
        height: 180px;
        margin-bottom: 5px;
        img {
          width: 280px;
          height: 80px;
        }
      }
      .iframe {
        border-radius: 10px;
      }
      .mapMore {
        display: flex;
        justify-content: space-between;
        height: 20px;
        width: 100%;
        // border: 1px solid #000;
        a {
          text-decoration: none;
          color: #0087d3;
        }
      }
      .shop {
        margin-top: 5px;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid #ebebeb;
        h3 {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .tagWrap {
          margin-top: 5px;
          display: flex;
          gap: 10px;
          li {
            width: fit-content;
            padding: 2px 10px;
            height: 24px;
            border-radius: 10px;
            list-style: none;
            background: index.$main_clr;
            font-size: 1.2rem;
          }
        }
      }
      .book {
        display: block;
        margin: 7px auto;
        width: 130px;
        height: 36px;
        border-radius: 10px;
        background-color: index.$main_clr;
        box-shadow: 2px 2px 3px #898787;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.4rem;
        }
      }
      .aside {
        display: block;
        font-size: 1rem;
        color: #878787;
      }
    }
    &.active {
      display: block;
    }
  }
}

.capsuleWrap {
  width: 100%;
  height: 80px;
  position: relative;
  .capsule3 {
    width: 154px;
    height: 126px;
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 10000;

    display: none;
    // animation: SlideIn 1s ease forwards;
    img {
      // width: 52px;
      // height: 52px;
      position: absolute;
      &:nth-child(1) {
        width: 100px;
        height: 100px;
        // top: 10px;
        left: -60px;
      }
      &:nth-child(2) {
        width: 94px;
        height: 94px;
        top: 10px;
        left: 45px;
      }
      &:nth-child(3) {
        width: 74px;
        height: 74px;
        top: 20px;
        left: 155px;
      }
    }

    &.active {
      display: block;
      animation: SlideIn 2s ease-out forwards;
    }
  }
  .ball {
    position: absolute;
    width: 324px;
    height: 72px;
    z-index: 10001;
    top: -60px;
    left: 37px;
    display: none;

    animation: fuwa 2s infinite, opa2 0.5s;
    &.active {
      display: block;
    }
  }
}

@keyframes Move {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(4px, 4px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 4px) rotateZ(-1deg);
  }
  75% {
    transform: translate(4px, 0px) rotateZ(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0, 0);
  }
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes opa2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fuwa {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
