@use "Asset" as asset;
@use "Index" as index;

.wrapper {
  position: relative;
  // overflow: hidden;
  height: 744px;
  width: 100%;
  h2 {
    font-weight: normal;
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
  }
  .innerWrap {
    margin: 0 auto;
    height: 580px;
    width: 332px;
    padding: 10px 25px 0 25px;
    .picture {
      width: 280px;
      height: 180px;
      margin-bottom: 5px;
      img {
        width: 280px;
        height: 80px;
      }
    }
    .iframe {
      border-radius: 50%;
    }
    .mapMore {
      display: flex;
      justify-content: space-between;
      height: 20px;
      width: 100%;
      // border: 1px solid #000;
      a {
        text-decoration: none;
        color: #0087d3;
      }
      p {
        color: #fff;
      }
    }
    .shop {
      margin-top: 10px;
      width: 100%;
      padding-bottom: 8px;
      border-bottom: 1px solid #878787;
      color: #fff;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
    }
    .tagWrap {
      margin-top: 5px;
      display: flex;
      gap: 10px;
      li {
        width: fit-content;
        padding: 2px 10px;
        height: 24px;
        border-radius: 10px;
        list-style: none;
        background: index.$sub_clr;
        font-size: 1.2rem;
        color: #fff;
      }
    }
  }
  .book {
    display: block;
    margin: 15px auto;
    width: 130px;
    height: 36px;
    border-radius: 10px;
    background-color: index.$main_clr;
    color: #fff;
    font-size: 1.4rem;
  }
  .aside {
    display: block;
    font-size: 1rem;
    color: #fff;
  }
  .bookedWrap {
    position: absolute;
    text-align: center;
    color: #fff;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 390px;
    height: 305px;
    border-radius: 10px 10px 0 0;
    background-color: index.$base_clr;
    .bookHead {
      border-radius: 10px 10px 0 0;

      height: 40px;
      background-color: index.$main_clr;
      h4 {
        font-size: 1.4em;
        line-height: 38px;
        font-weight: normal;
        color: index.$base_clr;
      }
    }
    h2 {
      margin: 25px 0 16px 0;
    }
    p {
      font-size: 1.4em;
      margin: 5px 0;
      &.bookTxt {
        font-size: 1em;
      }
    }
    .tel {
      font-size: 2.4em;
      color: index.$main_clr;
    }
  }
}
