@use "Asset" as asset;
@use "Index" as index;

//特徴や一人だけで実行するコードはここで書く
.main-bg {
  height: 100vh;
  width: 100vw;
  background-image: url(../../public/img/ワイヤー/bg.png);
  background-position: center;
  background-size: cover;
  .city {
    background-image: url(../../public/img/ワイヤー/city.png);
    height: 100vh;
    width: 100vw;
    position: absolute;
    pointer-events: none;
    z-index: -1;
  }
  .logo {
    @extend %sakamachi;
  }
  .welcome-text {
    color: index.$white;
    text-align: center;
    padding: 3rem 0 10rem 0;
    p {
      font-size: 1.6rem;
    }
  }
  .login-btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .login {
      @extend %box-shdw;
      @extend %big-btn;
    }
    .register {
      @extend %box-shdw;
      @extend %big-btn;
      background: index.$sub_clr;
      a {
        color: index.$white;
      }
    }
  }
}

.login-page {
  position: relative;
  .logo {
    @extend %sakamachi;
    padding-top: 24rem;
    width: 18rem;
    height: 11.3471rem;
  }
  .icon {
    position: absolute;
    color: index.$white;
    width: 4rem;
    height: 4rem;
  }
  .login-form {
    position: absolute;
    bottom: 0;
    background: index.$sub_clr;
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    h1 {
      color: index.$white;
      font-size: 2.4rem;
      padding: 3rem;
    }
    .field-wrapper {
      gap: 20px;
      display: flex;
      flex-direction: column;
      input {
        box-sizing: border-box;
        width: 325px;
        height: 56px;
        position: relative;
        background: index.$field;
        border-radius: 8px;
        font-size: 1.8rem;
        padding-left: 20px;
        outline: none;
        color: index.$white;
        &::placeholder {
          color: index.$field_clr;
        }
        &::-ms-reveal {
          color: index.$field_clr;
        }
      }
      .password-wrapper {
        position: relative;
        display: flex;
        button {
          display: block;
          font-size: 2rem;
          position: absolute;
          right: 0;
          color: index.$field_clr;
          line-height: 5.6rem;
          padding: 0 1.6rem;
        }
      }
    }
    .forgot {
      padding: 2rem 0 8rem 0;
      a {
        text-decoration: underline;
        color: index.$white;
        font-size: 1.2rem;
      }
    }
    .login {
      @extend %box-shdw;
      @extend %big-btn;
    }
  }
}

.navbar-wrapper {
  height: 100px;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  a {
    text-decoration: none;
    color: index.$grey;
    font-size: 2.4rem;
  }
  .main-text {
    align-items: center;
    margin-left: 50px;
    font-size: 1.2rem;
    color: index.$white;
    text-align: center;
  }
  .notif-btn {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background: index.$main_clr;
      top: 0;
      right: -2px;
      border-radius: 50%;
    }
  }
  .prof-btn {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: -8px;
    left: 10px;
    a {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url(https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80);
      background-size: cover;
      background-position: right center;
    }
  }
}

.filter-wrapper {
  width: 100%;
  padding: 0 20px;
  position: relative;
  z-index: 100;
  .filter {
    position: relative;
    // width: 350px;
    height: 3.4rem;
    border-radius: 1rem;
    background: index.$sub_clr;
    display: flex;
    .filter-text {
      color: index.$white;
      text-align: center;
      align-self: center;
      width: 100%;
      font-size: 0.8rem;
    }
    .filter-arrow {
      position: absolute;
      right: 1rem;
      height: 20px;
      width: 20px;
      button {
        line-height: 3.4rem;
        font-size: 2rem;
        color: index.$main_clr;
      }
    }
  }
}

.filter-dropdown-wrapper {
  position: absolute;
  width: 350px;
  top: 11rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: none;
  height: 460px;
  z-index: 10;
  background: index.$sub_clr;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: 2rem;
  .filter-dropdown {
    &::-webkit-scrollbar {
      display: none;
    }
    height: 380px;
    overflow-y: scroll;
    padding: 0 30px;
    .filter-genre {
      padding-bottom: 1rem;
      border-bottom: 1px solid #878787;
    }
    h2 {
      color: index.$main_clr;
      padding-top: 1rem;
    }
    ul {
      margin-top: 5px;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        width: auto;
        height: auto;
        font-size: 1.4rem;
        a {
          background: #28564b;
          border-radius: 1rem;
          padding: 2px 15px;
          width: 100%;
          height: 100%;
          display: block;
          color: index.$white;
          text-decoration: none;
        }
        .selected {
          background: index.$main_clr;
          color: index.$sub_clr;
        }
      }
    }
  }
  .filter-dropdown-btn {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    button {
      @extend %box-shdw;
      margin: 0 auto;
      background: index.$main_clr;
      color: index.$sub_clr;
      width: 125px;
      height: 35px;
      font-size: 1.8rem;
      border-radius: 1rem;
    }
  }
}

.showMenu {
  transform: translateY(0%);
}

.swipe-btn-wrapper {
  width: 100%;
  position: relative;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  button {
    text-decoration: none;
    color: index.$main_clr;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .choose-here-btn {
    width: 170px;
    height: 60px;
    background: index.$main_clr;
    border-radius: 10px;
    button {
      color: index.$sub_clr;
      text-decoration: none;
      font-size: 2rem;
      text-align: center;
      font-weight: 600;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  #nope {
    @extend %btn;
    @extend %text-shdw;
    font-size: 5rem;
    button {
      padding: 4px 0px;
    }
  }
  #love {
    @extend %btn;
    @extend %text-shdw;
    font-size: 3.8rem;
    button {
      padding: 10px 0px;
    }
  }
  .counter-wrapper {
    position: absolute;
    font-size: 1.6rem;
    color: index.$white;
    right: 4.2rem;
    top: -3rem;
  }
}

.tinder {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  &.loaded.tinder {
    opacity: 1;
  }
  .tinder--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
    i {
      font-size: 100px;
      opacity: 0;
      transform: scale(0.3);
      transition: all 0.2s ease-in-out;
      position: absolute;
      width: 100px;
      margin-left: -50px;
    }
  }
  .tinder_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  .tinder_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
  }
  .tinder--cards {
    position: relative;
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    z-index: 1;
    .tinder--card {
      display: inline-block;
      width: 355px;
      height: 520px;
      padding-bottom: 40px;
      border-radius: 8px;
      overflow: hidden;
      position: absolute;
      will-change: transform;
      transition: all 0.3s ease-in-out;
      cursor: -webkit-grab;
      cursor: grab;
      .swiper-image {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-size: cover;
        background-position: right center;
      }
      .beer-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: index.$sub_clr;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 10px;
        .beer-status {
          width: 100%;
          height: 100%;
          padding: 20px;
          background-image: url(../../public/img/icon/ion_beer-sharp.svg);
          background-size: contain;
        }
      }
      .swiper-text {
        color: index.$white;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        position: absolute;
        bottom: 90px;
        padding: 10px;
        width: fit-content;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: hsla(0, 0%, 100%, 0.1);
        border-radius: 5px;
        .swiper-name {
          font-size: 1.2rem;
        }
        .swiper-time {
          margin-top: 10px;
          font-size: 1.6rem;
        }
      }
      .swiper-info {
        position: absolute;
        bottom: 25px;
        right: 37%;
        text-align: center;
        button {
          font-size: 1.6rem;
          letter-spacing: 0.5px;
          text-decoration: none;
          color: index.$white;
          display: block;
          &::before {
            content: "\f059";
            font-family: "Font Awesome 6 Free";
            font-weight: 400;
            margin-right: 5px;
          }
        }
      }
    }
    .moving.card {
      transition: none;
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }
}

.swiper-modal {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  width: 355px;
  height: 520px;
  position: absolute;
  z-index: 100;
  border: solid 1px tomato;
  color: index.$white;
}
