@use "Asset" as asset;
@use "Index" as index;

.slideWrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid #fff;
  &.show {
    transition: ease-in-out 1s;
    opacity: 1;
  }

  li {
    width: 100%;
    height: 100%;
    display: none;
    &:first-child {
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
