.filter-dropdown-wrapper
  .filter-dropdown
    .filter-genre
      h2 食ジャンル
      ul
        li
          a(href="#").selected 海鮮系
        li
          a(href="#") 中華系
        li
          a(href="#") 和食系
        li
          a(href="#") 鍋
        li
          a(href="#") 粉物
        li
          a(href="#") 韓国料理
        li
          a(href="#") 肉
        li
          a(href="#") 焼き鳥
        li
          a(href="#") 揚げ物
    .filter-genre
      h2 人数
      ul
        li
          a(href="#") 1 〜 4名
        li
          a(href="#") 5 〜 8名
        li
          a(href="#") 9名以上
    .filter-genre
      h2 お店の雰囲気
      ul
        li
          a(href="#") 静かな空間
        li
          a(href="#") 賑やかな空間
        li
          a(href="#") おしゃれな空間
        li
          a(href="#") 親しみやすい空間
        li
          a(href="#") レトロな空間
        li
          a(href="#") 活気のある雰囲気
    .filter-genre
      h2 喫煙の有無
      ul
        li
          a(href="#") 禁煙
        li
          a(href="#") 喫煙可能
  .filter-dropdown-btn
    button 絞り込み