.filter-dropdown-wrapper
  .filter-dropdown
    .filter-wrapper
      h2 食ジャンル
      ul
        li
          a(href="#") 海鮮系
        li
          a(href="#") 中華系
        li
          a(href="#") 和食系
        li
          a(href="#") 鍋
        li
          a(href="#") 粉物
        li
          a(href="#") 韓国料理
        li
          a(href="#") 肉
        li
          a(href="#") 焼き鳥
        li
          a(href="#") 揚げ物
    .filter-wrapper
      h2 人数
      ul
        li
          a(href="#") 1 〜 4名
        li
          a(href="#") 5 〜 8名
        li
          a(href="#") 9名以上
    .filter-wrapper
    .filter-wrapper