
div.shuffle_box
  img(src="img/miki/shuffle_box.png", alt="ガチャガチャ" class="machine")
  img(src="img/miki/shuffle_move.png", alt="ガタガタ" class="move")
  img(src="img/miki/shuffle_move_02.png", alt="ガタガタ" class="move02")



button(type="button" class="btn")
  p まわす
div.bgWrap
  div.modal
  section.random.one
    div.randomHead
      button(type="button").fa-solid.fa-xmark.fa-3x
      h2 酒街屋 茶屋町店
    div.innerWrap
      picture
        img(src="img/miki/select_01.png", alt="酒街屋茶屋町店")
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2609.272385588255!2d135.49998337836698!3d34.7079463370847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f50.1!4m13!3e2!4m5!1s0x6000e69449e0775d%3A0x9dffc5eb4ec5cedf!2z5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65Lit5bSO6KW_77yS5LiB55uu77yTIEVDQ-OCs-ODs-ODlOODpeODvOOCv-WwgumWgOWtpuagoQ!3m2!1d34.706434099999996!2d135.50323649999999!4m5!1s0x6000e6910a8e1151%3A0x83b2b8617ec9b7f3!2z44CSNTMwLTAwMTMg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy66Iy25bGL55S6!3m2!1d34.7074576!2d135.4998578!5e0!3m2!1sja!2sjp!4v1687412927182!5m2!1sja!2sjp" width="280" height="80" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      aside.mapMore
        a(href="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2609.272385588255!2d135.49998337836698!3d34.7079463370847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f50.1!4m13!3e2!4m5!1s0x6000e69449e0775d%3A0x9dffc5eb4ec5cedf!2z5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65Lit5bSO6KW_77yS5LiB55uu77yTIEVDQ-OCs-ODs-ODlOODpeODvOOCv-WwgumWgOWtpuagoQ!3m2!1d34.706434099999996!2d135.50323649999999!4m5!1s0x6000e6910a8e1151%3A0x83b2b8617ec9b7f3!2z44CSNTMwLTAwMTMg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy66Iy25bGL55S6!3m2!1d34.7074576!2d135.4998578!5e0!3m2!1sja!2sjp!4v1687412927182!5m2!1sja!2sjp" width="280" height="80" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade") 地図はこちら
        a(href="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2609.272385588255!2d135.49998337836698!3d34.7079463370847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f50.1!4m13!3e2!4m5!1s0x6000e69449e0775d%3A0x9dffc5eb4ec5cedf!2z5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65Lit5bSO6KW_77yS5LiB55uu77yTIEVDQ-OCs-ODs-ODlOODpeODvOOCv-WwgumWgOWtpuagoQ!3m2!1d34.706434099999996!2d135.50323649999999!4m5!1s0x6000e6910a8e1151%3A0x83b2b8617ec9b7f3!2z44CSNTMwLTAwMTMg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy66Iy25bGL55S6!3m2!1d34.7074576!2d135.4998578!5e0!3m2!1sja!2sjp!4v1687412927182!5m2!1sja!2sjp" width="280" height="80" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade") 
        p HEPから徒歩5分!
      section.shop
        h3 営業時間　17:00 ~ 28:00
        div.tagWrap  
          li 海鮮系
          li 静かな空間
          li 禁煙
      section.shop
        h3 テーブル４卓　カウンター８卓 
        p.aside (4名以上のお客様はテーブルを分けさせていただきます。)
      section.shop
        h3 お一人様の平均値段　¥3,000
      section.shop  
        p お支払い方法
          h3 現金・クレジットカード・電子マネー使用可
      button(type="button").book
        a(href="shuffle_02.html") 予約手続きへ
      p.aside ※予約ボタンを押してから３０分以内にご来店ください。




div.capsuleWrap
  div.capsule3
    img(src="img/miki/capsule_01.png", alt="紫カプセル" class="purple" )
    img(src="img/miki/capsule_02.png", alt="黄カプセル" class="yellow" )
    img(src="img/miki/capsule_03.png", alt="赤カプセル" class="red")

  img(src="img/miki/shuffle_ball.png", alt="バルーン" class="ball")
