.swiper
  ul
    li.swiper-wrapper.current
      .swiper-image
      .beer-icon
      .swiper-text
        .swiper-name
          h1 鳥貴族
        .swiper-time
          p 17:00 ~ 翌 3:00
      .swiper-info
        .info-text
          a(href="#") 詳細を見る
    li.swiper-wrapper
        .swiper-image
        .beer-icon
        .swiper-text
          .swiper-name
            h1 鳥貴族
          .swiper-time
            p 17:00 ~ 翌 3:00
        .swiper-info
          .info-text
            a(href="#") 詳細を見る
    li.swiper-wrapper
      .swiper-image
      .beer-icon
      .swiper-text
        .swiper-name
          h1 鳥貴族
        .swiper-time
          p 17:00 ~ 翌 3:00
      .swiper-info
        .info-text
          a(href="#") 詳細を見る
    li.swiper-wrapper
      .swiper-image
      .beer-icon
      .swiper-text
        .swiper-name
          h1 鳥貴族
        .swiper-time
          p 17:00 ~ 翌 3:00
      .swiper-info
        .info-text
          a(href="#") 詳細を見る
    li.swiper-wrapper
      .swiper-image
      .beer-icon
      .swiper-text
        .swiper-name
          h1 鳥貴族
        .swiper-time
          p 17:00 ~ 翌 3:00
      .swiper-info
        .info-text
          a(href="#") 詳細を見る
