doctype html
html(lang="ja")
    head
      include _temp_p_head
      title 
      link(rel="stylesheet", href="css/Style.css")
    body
      include _Navbar
      include _Swiper
      include _Swipe_Button
      include _temp_p_foot