doctype html
html(lang="ja")
    head
      include _temp_p_head
      title Home Page
      link(rel="stylesheet", href="css/Style.css")
    body
      include _navbar_main
      include filter/_filter
      include filter/_filter_dropdown
      include filter/_popup_gacha
      //- script(src="https://hammerjs.github.io/dist/hammer.min.js") 
      include swiper/_swiper
      include _temp_p_foot
      script(src="js/swiper.js")
      script(src="js/filter.js")