doctype html
html(lang="ja")
    head
      include _temp_p_head
      title New Register
      link(rel="stylesheet", href="css/Style.css")
    body
      .main-bg
        .city
        .new-regist
          h1 新規登録
          .register-form
            .register-field
              h2 名前
              input(type="text" placeholder="例)山田 花子")
            .register-field
              h2 名前(カタカナ)
              input(type="text" placeholder="例)ヤマダ ハナコ")
            .register-field
              h2 性別
              .register-gender
                button 男性
                button 女性
                button その他
            .register-field
              h2 年齢
              .register-age
                select(name='age')
                  each i in Array.from({ length: 81 }, (_, index) => index + 1)
                    option(value=i)= i
                p 際
            .register-field
              h2 メーリアドレス
              input(type="text" placeholder="例)apurimei@abc.ac.jp")
            .register-field
              h2 パスワード
              input(type="text" placeholder="apurimei112")
            .register-field
              h2 パスワード(確認)
              input(type="text" placeholder="apurimei112")
            .register-btn
              a(href="#") 確認
      include _temp_p_foot
      script(src="js/chngeClr.js") 