doctype html
html(lang="ja")
    head
      include _temp_p_head
      title Register Page
      link(rel="stylesheet", href="css/Style.css")
    body
      .main-bg
        .city
        .logo
        .welcome-text 
          p どちらか選択してください
        .selection-btn-wrapper
          .selection-btn
            a(href="ageConfirmation.html") お店を探したい
          .selection-btn
            a(href="#") お店を掲載したい
      include _temp_p_foot