doctype html
html(lang="ja")
  head
    include _temp_p_head
    title
    link(rel="stylesheet", href="css/Style.css")
    link(rel="stylesheet", href="css/shuffle_02.css")
  body
    include _navbar_mise
    include _shuffle_02
    include _temp_p_foot