doctype html
html(lang="ja")
  head
    include _temp_p_head
    title ガチャ画面
    link(rel="stylesheet", href="css/Style.css")
    link(rel="stylesheet", href="css/shuffle.css")
  body
    include _navbar_mise
    include _shuffle_01
    include _shuffle_js
    include _temp_p_foot