doctype html
html(lang="ja")
    head
      include _temp_p_head
      title Home Page
      link(rel="stylesheet", href="css/Style.css")
    body
      include _navbar_main
      include _filter
      include _filter_dropdown
      script(src="https://hammerjs.github.io/dist/hammer.min.js") 
      include _swiper
      include _temp_p_foot