doctype html
html(lang="ja")
  head
    include _temp_p_head
    title
    link(rel="stylesheet", href="css/Style.css")
    link(rel="stylesheet", href="css/tutorial.css")
  body
    .contentsWrap
      ul.slideWrap
        li
          img(src="img/miki/tut_01.png", alt="チュートリアル01")
          .bal
            p お店を予約できる！
        li
          img(src="img/miki/tut_02.png", alt="チュートリアル02")
          .bal
            p 絞り込み機能で素敵な <br> お店を見つけやすくしよう！
        li
          img(src="img/miki/tut_03.png", alt="チュートリアル03")
        li
          img(src="img/miki/tut_04.png", alt="チュートリアル04")
        li
          img(src="img/miki/tut_05.png", alt="チュートリアル05")
        li
          img(src="img/miki/tut_06.png", alt="チュートリアル06")
        li 
          img(src="img/miki/tut_07.png", alt="チュートリアル07")


    script(src="js/tutorial.js") 