doctype html
html(lang="ja")
    head
      include _temp_p_head
      title Welcome Page
      link(rel="stylesheet", href="css/Style.css")
    body
      .welcome-wrapper
        .city
        .logo
        .welcome-text 
          p 数少ない深夜営業の居酒屋探しが楽になる
        .login-btn-wrapper
          .login
            a(href="#") ログイン
          .register
            a(href="#") 新規登録