.filter-dropdown-wrapper
  .filter-dropdown
    .filter-genre
      h2 食ジャンル
      ul
        li
          button 海鮮系
        li
          button 中華系
        li
          button 和食系
        li
          button 鍋
        li
          button 粉物
        li
          button 韓国料理
        li
          button 肉
        li
          button 焼き鳥
        li
          button 揚げ物
    .filter-genre
      h2 人数
      ul
        li
          button 1 〜 4名
        li
          button 5 〜 8名
        li
          button 9名以上
    .filter-genre
      h2 お店の雰囲気
      ul
        li
          button 静かな空間
        li
          button 賑やかな空間
        li
          button おしゃれな空間
        li
          button 親しみやすい空間
        li
          button レトロな空間
        li
          button 活気のある雰囲気
    .filter-genre
      h2 喫煙の有無
      ul
        li
          button 禁煙
        li
          button 喫煙可能
  .filter-dropdown-btn
    button 絞り込み