.swiper-modal
  .modal-content
    .modal-name
      h1 鳥貴族
    .modal-time
      p 営業時間
      p 19:00 ~ 翌 5:00
    .modal-selected
    .modal-seat
      h2 テーブル４卓  カウンター８卓 
      p (4名以上のお客様はテーブルを分けさせていただきます。)
    .modal-price
      h2 お一人様の平均値段  ¥ 3,000
    .modal-payment
      h2 お支払い方法
      p 現金・クレジットカード・電子マネー使用可
    .modal-map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3279.930875183689!2d135.49385538885494!3d34.706923399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e791d395927d%3A0x2bf8837c6901635f!2z6a6o44Go6YWSIOiMtuWxi-eUuk1hcnJ5!5e0!3m2!1sen!2sjp!4v1687754619766!5m2!1sen!2sjp" width="310" height="100" style="border-radius:1rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")